*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container{
  margin-top: 20px;
}

.nav-bar{
  margin:30px 0;
}

.card-detail h1{
display: flex;
justify-content: center;
}
.img-detail{
  height: 400px;
  display: flex;
 margin:auto;
 
}
.card{
  margin: 20px 10px;
  width: 250px;
  height: 600px;
  border-radius:7px;
  box-shadow: -10px -11px 36px -22px rgba(0,0,0,0.95);
}
.img-card img{
  margin:10px;
  width: 200px;
  height: 200px;

}
.title{
  height: max-content;
  border-bottom: 1px  solid rgba(0, 0, 0, 0.541);
}

.description{

  margin: 10px;
  border-top: 1px  solid rgba(0, 0, 0, 0.425);
  overflow: hidden;
}
.read-more{
  margin: auto;
}
.price{
 
 margin:30px 10px;
}
.row{
  justify-content: space-evenly;
}