*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container{
  margin-top: 20px;
}
.card-home{
  cursor: pointer ;
   width: 350px;
   height:max-content;
   margin:20px;
}
.home{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.price{
  margin: 10px;
  width: max-content;
  background-color: rgba(255, 81, 0, 0.753);
}
.card-detail h1{
display: flex;
justify-content: center;
}
.img-detail{
  display: flex;
margin:auto;
}
